.newsIndex #pageTitle .fltR{
	font-size: 18px;
}

.newsIndex .content .newsLayout3{
	float: left;	
	border-bottom: 1px solid #e4e5e6;
	width:100%;
	/*margin-bottom:20px;*/
	padding:10px;
}

.newsIndex .content .newsLayout3:hover{
	background:#e4e4e4;
	cursor:pointer;
}

.newsIndex .content .newsLayout3 h2{
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.newsIndex .content .newsLayout3 .img{
	float:left;
	width:135px;
	height:118px;
	margin-left:15px;
	border:solid 1px #C5C5C5;
	background-size: 135px 118px;
	background-repeat:no-repeat;
}

.newsIndex .content .newsLayout3 .news_content{
	float:left;
	width:645px;
	height:auto;
}