#topBarSection{
}

#topBarSection p,
#topBarSection p a, #topBarSection, #topBarSection a i{
	color: #FFF;	
} 

#topBarSection i{
	font-size:25px;
	margin-left:10px;
}

#topBarSection a:hover i, #topBarSection i:hover{
	color:#FF7300;
}